/* Three patterns of selector declaration. */

ul li{
    color: rgba(0, 0, 0, .5);
    text-decoration: underline;
    border: 1px solid #000;
}

.stress>h3{
    text-decoration: line-through;
}

input, h2{
    color: red;
}

/* Pseudo class selector */

a:visited{
    color: grey;
}

a:hover{
    color: greenyellow;
}

a:active{
    color: green;
}

input:focus{
    color: rgba(0, 0, 0, .8);
}

input:last-child{
    border: 1px solid #000;
    padding: 10% 10%;
}

.night{
    background-color: #000;
    color: #FFF;
}

/* Property: display */
/* Block level element */
/* Inline element */
h1, a{
    border: 1px solid #000;
}

h1{
    border: 1px solid #000;
    display: block;
    /* width: 500px; */
}

/* Grid */
div{
    border: 3px solid #888;
}



#grid{
    border: 3px solid #800;
    display: grid;
    grid-template-columns: 150px 1fr;
}

/* Media query */
@media(min-width:600px){
    div{
        display:none
    }
}